//*Fuente
$title-font: "Anta", sans-serif;
$main-font: "Montserrat", sans-serif;
//*colores
$blue: #2e0c5c;
$violet: #6b5b6b;
$dark-green: #769666;
$yellow: #ebab52;
$pink: #eb52e6;
$dark-pink: #ab67a9;
$green: #85eb52;
$white: #ffffff;
$black: #000000;
$red: rgba(182, 51, 72, 0.938);

//*Media Queries

$telefono: 390px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;
