//*Fuente
$title-font: "Anta", sans-serif;
$main-font: "Montserrat", sans-serif;
//*colores
$blue: #7ab6de;
$violet: #6b5b6b;
$dark-green: #769666;
$yellow: #ebab52;
$pink: #eb52e6;
$green: #85eb52;
$white: #ffffff;
$black: #000000;

//*Media Queries

$telefono: 390px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;
