@use "../base/variables" as v;
@use "../base/mixins" as m;

.sobre-festival {
  padding: 5rem 5rem 5rem 5rem;
  background-color: v.$beige; //rgba(114, 173, 241, 0.753);
  max-width: 100%;
  width: auto;
  @include m.desktop {
    padding-top: 15rem;
    @include m.grid(2, 5rem);
  }
}
.contenido-festival {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5rem;
  @include m.desktop {
    margin-top: 0;
  }
  h2 {
    margin-bottom: 2rem;
    background: rgb(88, 218, 182);
    background: linear-gradient(0deg, rgb(72, 153, 130) 11%, rgba(6, 6, 6, 1) 57%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 4rem;
  }
  .fecha {
    color: v.$dark-green;
    background-color: v.$black;
    border-radius: 2rem;
    font-weight: 900;
    width: fit-content;
    padding: 1rem;
  }
}
.imagen {
  @include m.desktop {
    align-content: center;
  }
}
