@use "../base/variables" as v;
@use "../base/mixins" as m;

.sobre-festival {
  padding: 15rem 5rem 5rem 5rem;
  background-color: v.$beige; //rgba(114, 173, 241, 0.753);
  max-width: 100%;
  width: auto;
  @include m.tablet {
    @include m.grid(2, 5rem);
  }
}
.contenido-festival {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5rem;
  @include m.tablet {
    margin-top: 0;
  }
  h2 {
    margin-bottom: 2rem;
  }
  .fecha {
    color: v.$dark-green;
    background-color: v.$black;
    border-radius: 2rem;
    font-weight: 900;
    width: fit-content;
    padding: 1rem;
  }
}
.imagen {
  @include m.tablet {
    align-content: center;
    width: 700px;
    height: 700px;
  }
}
