@use "../base/mixins" as m;
@use "../base/variables" as v;

.background {
  position: relative;
  max-height: 90rem;
  min-height: 20rem;
  //overflow: hidden;
  .overlay-img {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .imagen-principal {
    width: auto;
    @include m.tablet {
      width: 100%;
    }
  }
}
.contenido-background {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    color: v.$white;
    font-size: 5rem;
    margin: 0;
    font-family: v.$title-font;

    @include m.tablet {
      text-align: left;
      font-size: 9rem;
    }
  }
  p {
    background-color: v.$red;
    padding: 0.5rem 1rem;
    color: v.$white;
    font-weight: 900;
    border-radius: 1rem;
    font-size: 1rem;

    @include m.tablet {
      font-size: 2.4rem;
      padding: 1rem 2rem;
    }
  }
}
